{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/a11y",
        "@gravity-ui/eslint-config/prettier"
    ],
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}